//Fonts
$principal_font: 'Assistant', sans-serif;

// Meida Queries
$telefono: 480px;

/*Colors*/
$gold: #C08645;
$black:#000000;
$withe:#ffffff;
$gradient:linear-gradient(157.59deg, #B07537 17.6%, #F0B971 83.03%);


//Weight

$regular : 400;
$semi-bold:600;
$bold: 700;



$separacion: 5rem;